.dashboard {
  .wa-layout-content {
    padding: 10px 10px 10px 40px;
    height: calc(100% - 20px);
  }

  .wa-app {
    h3 {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
}

.wa-app-group {
  display: flex;
  flex-flow: row wrap;
}
