.wa-tip {
  font-size: 12px;
  line-height: 20px;
  margin-top: 30px;

  .about-wa {
    margin: 0 0 20px;
    padding: 20px;
    background-color: #2a2a2a;
    color: #fea;
    border-radius: 10px;
    font-weight: bold;

    .wa {
      font-size: 18px;
      margin-bottom: 8px;
    }

    p {
      margin: 0;
    }

    .desc {
      color: #d2d2d2;
    }
  }

  .feat {
    box-shadow: 0 0 3px #484848;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    p {
      margin: 0 0 8px;
      line-height: 16px;
    }
  }

  h2 {
    margin: 0 0 5px;
  }

  h3 {
    margin: 12px 0 5px;
    font-size: 13px;
  }

  .tips {
    margin-top: 5px;
    font-size: 12px;
    color: var(--theme-blue);
    font-weight: bold;
  }

  .shortcut-global {
    .item {
      color: #2a2a2a;
    }
  }

  code.note {
    background-color: var(--theme-blue);
  }

  .shortcut-wa .item {
    color: var(--theme-gray);
  }

  .item {
    width: 100%;
    overflow: hidden;
  }

  code {
    background-color: #000;
    padding: 1px 5px;
    color: #fff;
    border-radius: 4px;
    font-size: 11px;
  }

  pre {
    background-color: #fea;
    padding: 5px;
    overflow-y: auto;
  }
}