.search-item {
  margin: 5px 8px;
  padding: 0 5px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: default;

  &.active {
    background-color: var(--theme-active);
    border-radius: 5px;
    color: #fff;
  }

  .item-ico {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
}

.search-data-ico {
  width: 30px;
  height: 30px;
  user-select: none;
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }

  .app-icon {
    width: 24px;
    height: 24px;
    user-select: none;
    text-align: center;
    line-height: 24px;
    font-size: 16px;

    svg {
      width: 100% !important;
      height: 100% !important;
    }
  }
}